{% load static %}

<html>

<head>

    <link rel="stylesheet" type="text/css" href="{% static 'mywatson/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/landing.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">

    <title>MyWatson - Signup</title>

</head>

<body id="bg" style="background-image: url('{% static "core/images/ai-bg.jpg"%}')">

    {% if not user.is_authenticated %}
    <h1>MyWatson</h1>
    <div class="form-div">
        <form method="post" class="login-form">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field }}
                {% for error in field.errors %}
                    <p class="error">* {{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}
            <button type="submit">Sign up</button>
        </form>
    </div>
    {% endif %}

</body>

</html>
