@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
 font-size: 100%;
 font-family: 'Rubik', sans-serif, 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 font-weight: 300;
}


a {
    text-decoration: none;
    padding: 2px;
    color: #00A8E8;
}

a:hover,
a:focus {
    color: #007EA7;
}

html,
body,
.viewport {
	/* min-height: 100%; */
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;
}

#bg {
    background: whitesmoke;
}

#content {
	height: 90%;
	margin-top: 5%;
}


.btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.375rem 1.35rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-outline-light:hover {
    color: #007EA7;
}

.btn-primary {
    border-radius: 3px;
    background-image: -moz-linear-gradient( 122deg, #007EA7 0%, #003459 100%);
    background-image: -webkit-linear-gradient( 122deg, #007EA7 0%, #003459 100%);
    background-image: -ms-linear-gradient( 122deg, #007EA7 0%, #003459 100%);
    /* background-image: linear-gradient( 122deg, #007EA7 0%, #003459 100%); */
    background-image: linear-gradient(120deg, #007EA7 0%, #003459 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 0.6rem 2rem;
    border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    /* background-image: linear-gradient( 122deg, #fd378e 0%, #e54595 100%); */
    background-image: linear-gradient(120deg, #007ea7b5 0%, #82a6bf 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
    color: #FFF;
}

.btn-light {
    border-radius: 3px;
    background: #FFF;
    /* box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26); */
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 500;
    color: #003459;
    margin: 0.5rem;
    padding: 0.7rem 1.6rem;
    line-height: 1.8;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.8rem 1rem;
    font-size: 15px;
}

.light-bg {
    background-color: #faf6fb;
}
